.card{
    width: 300px;
    border: 2px solid chocolate;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(233, 176, 236);
    margin: 0 auto;
    text-align: left;
}
.card:hover{
    background-color: rgb(172, 238, 238);
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h3{
    font-size: 24px;
    font-weight: 700;
}
.card button{
    background-color: brown;
    padding: 10px 30px;
    border: solid;
    border-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
    color: aliceblue;
    font-size: 12px;
    text-transform: uppercase;
}
.card-items{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card-container{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.card-container h1{
    margin-bottom: 5px;
}
.card-container p{
    margin-top: 0;
}
.hero{
    height: 600px;
    width: 100%;
    background-color: aqua;
}
.hero-items{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 600px;

}
.item{
    height: 300px;
    width: 300px;
}
.item img{
    border: solid;
    border-radius: 10px;
    border-color: blueviolet;
}
.item button{
    padding: 10px;
    color: aliceblue;
    background-color: blueviolet;
    border: solid;
    border-color: black;
    border-radius: 3px;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
    background-color: rgb(125, 228, 120);
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
ul li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
        background-color: rgb(125, 228, 120);
}