.card{
    width: 300px;
    border: 2px solid chocolate;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(233, 176, 236);
    margin: 0 auto;
    text-align: left;
}
.card:hover{
    background-color: rgb(172, 238, 238);
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h3{
    font-size: 24px;
    font-weight: 700;
}
.card button{
    background-color: brown;
    padding: 10px 30px;
    border: solid;
    border-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
    color: aliceblue;
    font-size: 12px;
    text-transform: uppercase;
}
.card-items{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card-container{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.card-container h1{
    margin-bottom: 5px;
}
.card-container p{
    margin-top: 0;
}